#venueIntro{
    z-index: 3000;
    background: url("../../assets/map/bg_venue_intro.svg") no-repeat;
    width: 681px;
    height: 330px;
    padding: 20px 30px 30px 30px;
    position: relative;
    display: none;
}
.venue-intro-left{
    color: white;
    font-size: 22px;
    float: left;
    width: 390px;
}
#venue-name,#venue-address{
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1em;
}
#venue-event{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1em;
}
.venue-intro-title{
    color: #fff18a;
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1em;
}
.venue-intro-right{
    float: right;
}
.venue-img{
    padding-top: 20px;
    display: inline-block;
    width: 230px;
    height: 130px;
}
.venue-intro-icon{
    width: 51px;
    height: 51px;
}
.venue-intro-icon{
    display: block;
}
.venue-info-item{
    text-align: center;
    display: inline-block;
    margin-left: 5px;
}
.venue-intro-count{
    color: #f15a24;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1em;
}
.venue-intro-bottom{
    margin-top: 38px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}
.close-btn{
    background: url("../../assets/ic_close_btn.svg") no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top:6px;
    right: 15px;
    cursor: pointer;
}
